main {
  background-image: -moz-linear-gradient(
    to bottom right, 
    #4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100% 
  ); 

  background-size: 200% 200%;
  animation: movingGardient {5s linear infinite alternate;
 }

 @keyframes movingGardient {
   from { background-position: 0 0;     }
   to   { background-position: 100% 100%;        }

 }